@import "tailwindcss";
@import "tailwind-animations";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #00f0ff;
  --color-secondary: #bd00ff;
  --color-accent: #fcee0a;
  --color-danger: #ff003c;
  --color-bg: #050a0e;
  --color-surface: #0b1114;
  --color-muted: #cbd5dc;
  --color-border: #464d50;
  --animate-scan: scan 3s linear infinite;
  --animate-laser: laser 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-flicker: flicker 4s infinite;
}

@keyframes scan {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes laser {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(400%);
    opacity: 0;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  3% {
    opacity: 0.4;
  }
  6% {
    opacity: 1;
  }
  7% {
    opacity: 0.4;
  }
  8% {
    opacity: 1;
  }
  9% {
    opacity: 0.4;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
