---
import Layout from "@/components/astro/layouts/layout.astro";
import Button from "@/components/preact/ui/button";
import Card from "@/components/preact/ui/card";
---

<Layout>
  <Card>
    <Card.Header title="Title" subtitle="sub" />
    <Card.Body>Contenido</Card.Body>
    <Card.Footer>
      <Card.Footer.Right>
        <div class="flex gap-2">
          <Button variant="primary" client:idle>Confirm</Button>
          <Button variant="outline">Error</Button>
        </div>
      </Card.Footer.Right>
    </Card.Footer>
  </Card>
</Layout>
