---
import Layout from "@/components/layouts/layout.astro";
import Button from "@/components/ui/button/button.astro";
import Card from "@/components/ui/card/card.astro";
import DialogExample from "@/components/ui/dialog/example";
import DialogSvelteExample from "@/components/ui/dialog/example.svelte";
import { Trash, LoaderCircle } from "@lucide/astro";
---

<Layout>
  <div class="mt-50">
    <Card>
      <Button variant="destructive" shape="flat" animation="bounce">
        <Trash class="size-4 me-2.5" /> Remove
      </Button>
      <DialogExample client:only="preact" />
      <DialogSvelteExample client:only="svelte" />
      <Button shape="simple">
        <LoaderCircle class="animate-spin size-4 me-2.5" />{" "}
        Logging in...
      </Button>
    </Card>
  </div>
</Layout>
